.span-password{
    display: inline-block;
    vertical-align: top;
    *vertical-align: middle;
    height: 25px;
    width: 50px;
    text-align: center;
    border: 1px solid #CCC;
    margin-right: -1px;
    margin-left: 0px;
}
.span-success {
    background-color: #00ff21;
}
.span-warning {
    background-color: #ffd800;
}
.span-important {
    background-color: #f00;
}