<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div id="app">
    <div id="myChart" style="width: 100%; height: 600px;"></div>

    <button id="btn_updateModal" data-target="#updateModal" data-toggle="modal"></button>
    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">实体类型编辑</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="statusID" class="control-label" >ID</label>
                                <input type="text" class="form-control" id="statusID" v-model="formData1.id" disabled/>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="t_btn_modify1" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button" id="t_btn_modify1" disabled>Modify</button>
                            </div>
                        </div>
                    </div>


                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="statusOf" class="control-label">实体类型</label>
                                <input type="email" class="form-control" id="statusOf" v-model="formData1.className">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="t_btn_modify2" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button" id="t_btn_modify3">Modify</button>
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="statusValue" class="control-label">实体属性</label>
                                <input type="email" class="form-control" id="statusValue" v-model="formData1.fieldsName">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="t_btn_modify2" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button" id="t_btn_modify2">Modify</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteUser">删除</button>
                </div>
            </div>
        </div>
    </div>


    <button id="btn_updateModal2" data-target="#updateModal2" data-toggle="modal"></button>
    <!-- Modal -->
    <div class="modal fade" id="updateModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">实体类型编辑</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="statusID" class="control-label" >ID</label>
                                <input type="text" class="form-control" v-model="formData1.id" disabled/>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="t_btn_modify1" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button"  disabled>Modify</button>
                            </div>
                        </div>
                    </div>


                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="statusOf" class="control-label">实体类型</label>
                                <input type="email" class="form-control" v-model="formData1.type">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="t_btn_modify2" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button">Modify</button>
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="statusValue" class="control-label">实体属性</label>
                                <input type="email" class="form-control"  v-model="formData1.fieldsName">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="t_btn_modify2" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button">Modify</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" @click="deleteUser">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
        href="../css/css.css"
        rel="stylesheet">

<!-- Custom styles for this template-->
<link href="../css/sb-admin-2.min.css" rel="stylesheet">
<!-- Bootstrap core JavaScript-->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>

<script src="../js/vue.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>


<link rel="../stylesheet" href="plugins/elementui/index.css">

<link rel="../stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">

<script src="../plugins/elementui/index.js"></script>
<script src="../js/jquery.min.js"></script>

<script src="../js/vue.min.js"></script>

<script src="../js/axios-0.18.0.js"></script>
<script src="../js/echarts.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.js"></script>
<script>
    let vue = new Vue({
        el: "#app",
        data: {
            formData1:{},
            formData2:{},
            option: {
                title: {
                    text: '电梯知识图谱',
                    subtext: 'Default layout',
                    top: 'bottom',
                    left: 'right'
                },
                tooltip: {
                    formatter: function (param){
                        return param.data.name;
                    }
                },
                animationDuration: 3000,
                animationEasingUpdate: 'quinticInOut',
                series: [{
                    type: 'graph',
                    layout: 'force',
                    force: {
                        repulsion: 300,
                        edgeLength: 100,
                    },
                    edgeSymbol : ['none', 'arrow'],//边两端的标记类型，可以是一个数组分别指定两端，也可以是单个统一指定。默认不显示标记，常见的可以设置为箭头，如下：edgeSymbol: ['circle', 'arrow']
                    edgeSymbolSize : 20,//边两端的标记大小，可以是一个数组分别指定两端，也可以是单个统一指定。
                    draggable: true,
                    symbolSize: 40,
                    // links: this.graph.links,
                    // categories: this.graph.categories,
                    roam: "move",
                    label: {
                        show: true,
                        position: 'right',//节点上的标签显示在右面
                        formatter: '{b}',
                        fontSize: "16"
                    },
                    lineStyle: {
                        color: 'source',
                        curveness: 0.1,
                        width: 3,
                    },
                    emphasis: {
                        focus: 'adjacency',
                        itemStyle:{
                            color: "#fc9a19"
                        },
                        lineStyle: {
                            color: "#beff4b",
                            width: 10
                        },
                    }
                }],
            },
            myChart:{},
            graph:{},
            lastClickIndex:0
        },
        mounted() {

            $("#btn_updateModal").hide()
            $("#btn_updateModal2").hide()
            this.myChart = echarts.init(document.querySelector("#myChart"));
            var res = {
                "flag": true,
                "data": [
                {
                    "id": 90,
                    "className": "故障名称",
                    "fieldsName": [
                        "faultId",
                        "faultName"
                    ],
                    "fieldsValues": null
                },
                {
                    "id": 109,
                    "className": "故障现象",
                    "fieldsName": [
                        "phenomenonId",
                        "phenomenonName"
                    ],
                    "fieldsValues": null
                },
                {
                    "id": 111,
                    "className": "故障原因",
                    "fieldsName": [
                        "causeId",
                        "causeName"
                    ],
                    "fieldsValues": null
                },
                {
                    "id": 112,
                    "className": "设备组件",
                    "fieldsName": [
                        "componentId",
                        "componentName"
                    ],
                    "fieldsValues": null
                },
                {
                    "id": 114,
                    "className": "指标状态",
                    "fieldsName": [
                        "statusId",
                        "statusName",
                        "statusValue"
                    ],
                    "fieldsValues": null
                },
                {
                    "id": 129,
                    "className": "参数指标",
                    "fieldsName": [
                        "indicatorId",
                        "indicatorName",
                        "indicatorValue"
                    ],
                    "fieldsValues": [
                        "",
                        "",
                        "一般||良好||及格"
                    ]
                }
            ],
            "message": "",
            }
            let data1 = res.data;
            data1.forEach(d=>{
                d.name = d.className;
            })
            var links=[
                {
                    "source":"90",
                    "target":"109",
                },
                {
                    "source": "109",
                    "target": "111",
                    "name": "100"
                }
            ]
            links.forEach(e=>{
                e.label = {
                    show: true,
                    formatter: function (e){
                        if (e.data.name)
                            return e.data.name;
                        else
                            return ""
                    }
                }
            })
            this.myChart.setOption(this.option);
            this.option.series[0].data = data1;
            this.option.series[0].links = links;
            this.myChart.setOption(this.option);
            window.onresize = this.myChart.resize;

            this.myChart.on('dblclick', (params)=>{
                console.log(params.dataType);
                if(params.dataType === "node"){
                    this.formData1 = params.data
                    console.log(params.data)
                    $("#btn_updateModal").click()
                }
                else {
                    this.formData2 = params.data
                    $("#btn_updateModal2").click()
                }
                this.myChart.dispatchAction({
                    type:"downplay",
                    dataIndex: this.lastClickIndex
                });
                this.lastClickIndex = params.dataIndex
                this.myChart.dispatchAction({
                    type:"highlight",
                    dataIndex:this.lastClickIndex
                });
            });
        },
    })
</script>
</body>
</html>