<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="../css/css.css"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../plugins/elementui/index.css">

    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">


</head>
<body>

<div class="container text-center" id="app">
  <div id="side">
      <input type="button" @click="change('123213')">
      <h1 id="content"></h1>
  </div>
    <div  v-for="(item,key) in a">
    <label>{{key}}</label>
    <input v-model="a[key]"/>
    </div>

    <button @click="clickBtn"></button>
</div>

<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="../js/sb-admin-2.min.js"></script>


    <script src="../js/vue.min.js"></script>

    <script src="../plugins/elementui/index.js"></script>

    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/modal-min.js"></script>
<script>
    var vue = new Vue({
        el:"#app",
        data:{
            a:{
                aa:"aa",
                bb:"bb",
                cc:"cc3",
            },

        },
        methods:{
            change(e){
                console.log(e.target.selectedIndex)
            },
            clickBtn(){
                console.log(this.a);
            }
        }
    })


</script>

</body>
</html>