<div class="container-fluid" id="modelMap">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            本体管理
            &nbsp;
            <button class="btn btn-primary" data-toggle="modal" data-target="#addNodeModal">新增实体类型</button>
            &nbsp;
            <button class="btn btn-primary" data-toggle="modal" data-target="#addEdgeModal">新增关系类型</button>
        </h1>
    </div>
    <div class="row">
        <div class="col-10"></div>
        <div class="col-2">

        </div>
    </div>
    <div id="myChart" style="width: 100%; height: 500px;"></div>


    <!-- AddNodeModal -->
    <div class="modal fade" id="addNodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增实体类型</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label">实体类型</label>
                                <input type="text" class="form-control" v-model="addFormData.className">
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label">实体属性</label>
                                </div>
                                <div class="row" v-for="(item,index) in addFormData.fieldsName">
                                    <br>
                                    <br>
                                    <div class="col-9">
                                        <input type="text" class="form-control" placeholder="属性名......" v-model="addFormData.fieldsName[index]">
                                    </div>
                                    <div class="col-3">
                                            <button class="btn btn-danger btn-block" @click="deleteAttributeForAdd(index)">删除</button>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" @click="addAttributeForAdd">新增属性 +</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" @click="saveForAdd">保存</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" @click="$message.info('取消操作')">取消</button>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <!-- AddEdgeModal -->
    <div class="modal fade" id="addEdgeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新建关系类型</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label">关系类型</label>
                                <input type="text" class="form-control" v-model="addEdgeData.relationName">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="form-group">
                            <label  class="control-label">请选择头结点：</label>
                            <select class="form-control" v-model="addEdgeData.source">
                                <option v-for="(node) in graph.nodes" :value="node.id">ID={{node.id}} ：
                                    {{node.className}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="form-group">
                            <label  class="control-label">请选择尾结点：</label>
                            <select class="form-control" v-model="addEdgeData.target">
                                <option v-for="(node) in graph.nodes" :value="node.id">ID={{node.id}} ：
                                    {{node.className}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="row">
                                    <label class="control-label">关系属性</label>
                                </div>
                                <div class="row" v-for="(item,index) in addEdgeData.fieldsName">
                                    <br>
                                    <br>
                                    <div class="col-9">
                                        <input type="text" class="form-control" placeholder="属性名......" v-model="addEdgeData.fieldsName[index]">
                                    </div>
                                    <div class="col-3">
                                            <button class="btn btn-danger btn-block" @click="deleteAttributeForAddEdge(index)">删除</button>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" @click="addAttributeForAddEdge">新增属性 +</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" @click="saveForAddEdge">保存</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" @click="$message.info('取消操作')">取消</button>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <!-- NodeModal -->
    <div class="modal fade" id="nodeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        实体类型编辑
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" >类型ID</label>
                                <input type="text" class="form-control" v-model="nodeData.id" disabled/>
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label">实体类型</label>
                                <input type="text" class="form-control" v-model="nodeData.className">
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                        <label class="control-label">实体属性</label>
                                <br>
                                <div class="row" v-for="(item,index) in nodeData.fieldsName">
                                    <br>
                                    <br>
                                    <div class="col-6">
                                        "{{item}}"
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-7">
                                                <button class="btn btn-success btn-block" data-target="#enumModal" data-toggle="modal"
                                                        @click="modifyEnum(index)" type="button" >配置属性</button>
                                            </div>
                                            <div class="col-5">
                                                <button class="btn btn-danger btn-block"  @click="deleteAttributeForUpdate(index)">删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" @click="addAttributeForUpdate">新增属性 +</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-4">
                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" @click="$message.info('取消操作')">取消</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" @click="updateNode">确定</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"
                                    data-toggle="modal" data-target="#deleteNodeModal">删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- EdgeModal -->
    <div class="modal fade" id="edgeModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">关系类型编辑</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" >类型ID</label>
                                <input type="text" class="form-control" v-model="edgeData.id" disabled/>
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label">关系类型</label>
                                <input type="text" class="form-control" v-model="edgeData.relationName">
                            </div>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="form-group">
                            <label  class="control-label">请选择头结点：</label>
                            <select class="form-control" v-model="edgeData.source">
                                <option v-for="(node) in graph.nodes" :value="node.id">ID={{node.id}} ：
                                    {{node.className}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="container-fluid">
                        <div class="form-group">
                            <label  class="control-label">请选择尾结点：</label>
                            <select class="form-control" v-model="edgeData.target">
                                <option v-for="(node) in graph.nodes" :value="node.id">ID={{node.id}} ：
                                    {{node.className}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                        <label class="control-label">节点属性</label>
                                <br>
                                <div class="row" v-for="(item,index) in edgeData.fieldsName">
                                    <br>
                                    <br>
                                    <div class="col-6">
                                        "{{item}}"
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-7">
                                                <button class="btn btn-success btn-block" data-target="#enumModal" data-toggle="modal"
                                                        @click="modifyEnum(index)" type="button" >配置属性</button>
                                            </div>
                                            <div class="col-5">
                                                <button class="btn btn-danger btn-block"  @click="deleteAttributeForUpdateForEdge(index)">删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block" @click="addAttributeForUpdateForEdge">新增属性 +</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-4">
                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" @click="$message.info('取消操作')">取消</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" @click="updateEdge">确定</button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"
                                    data-toggle="modal" data-target="#deleteEdgeModal">删除
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除确认 -->
    <div class="modal fade" id="deleteNodeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除节点</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">是否确定删除该节点？</div>
                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-6">
                            <button class="btn btn-info btn-block" type="button" data-dismiss="modal" @click="$message.info('取消操作')">取消</button>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-danger btn-block" href="javascript:void(0)" data-dismiss="modal" @click="deleteNode">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteEdgeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">删除关系</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">是否确定删除该关系？</div>
                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-6">
                            <button class="btn btn-info btn-block" type="button" data-dismiss="modal" @click="$message.info('取消操作')">取消</button>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-danger btn-block" href="javascript:void(0)" data-dismiss="modal" @click="deleteEdge">删除</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 配置枚举值-->
    <div class="modal fade" id="enumModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        属性编辑——{{enumData.name}}
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="control-label" >属性名称</label>
                                <input type="text" class="form-control" v-model="enumData.name"/>
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label  class="control-label">是否为枚举值</label>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group"><!--:checked="enumData.data.length >= 1"-->
                                <input type="checkbox" id="checkBox" v-model="enumData.enabled"  @click="clickCheckBox">&nbsp;&emsp;
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="row" v-for="(item,index) in enumData.data">
                                    <br>
                                    <br>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" :id="'enumText'+index" placeholder="请输入枚举值..." v-model="enumData.data[index]"/>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-7">
                                            </div>
                                            <div class="col-5">
                                                <button class="btn btn-danger btn-block" :id="'enumBtn'+index" @click="deleteEnumForUpdate(index)" >删除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center" >
                                    <button :disabled="enumData.data.length < 1" id="addEnumBtn" class="btn btn-primary btn-block" @click="addEnumForUpdate">新增枚举值 +</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-6">
                            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" @click="$message.info('取消操作')">取消</button>
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" id="enumConfirmButton" @click="saveEnum(enumData.index)">确定</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 取消勾选 枚举值 确认 -->
    <div class="modal fade" id="enumTipModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">禁用枚举值</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">是否确定为该属性禁用枚举值？属性值将解除限制</div>
                <div class="modal-footer">

                    <div class="container-fluid row">
                        <div class="col-6">
                            <button class="btn btn-info btn-block" type="button" data-dismiss="modal" @click="$('#checkBox').prop('checked',true);enableCom()">取消</button>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-danger btn-block" href="javascript:void(0)" data-dismiss="modal" @click="$('#checkBox').prop('checked',false);disableCom()">确定</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/vue.min.js"></script>

<script src="js/axios-0.18.0.js"></script>
<script src="js/echarts.min.js"></script>
<link rel="stylesheet" href="plugins/elementui/index.css">
<script src="plugins/elementui/index.js"></script>

<script>

    if(vue4 != null)
        vue4.$destroy();

    var vue4 = new Vue({
        el: "#modelMap",
        data: {
            //增加节点的表单信息
            addFormData:{
                fieldsName:[],
                className:"",
                fieldsValues:[]
            },
            addEdgeData:{
                relationName:"",
                source:0,
                target:0,
                fieldsName:[],
                fieldsValues:[]
            },
            //暂时存储需要修改为的信息
            nodeData:{},
            edgeData:{},
            option: {
                title: {
                    text: '电梯知识图谱',
                    subtext: 'Default layout',
                    top: 'bottom',
                    left: 'right'
                },
                tooltip: {
                    formatter: function (param) {
                        return param.data.name;
                    }
                },
                animationDuration: 3000,
                animationEasingUpdate: 'quinticInOut',
                series: [{
                    type: 'graph',
                    layout: 'force',
                    force: {
                        repulsion: 500,
                        gravity: 0.1,
                        edgeLength: 150,
                        layoutAnimation: true,
                    },
                    edgeSymbol: ['none', 'arrow'],//边两端的标记类型，可以是一个数组分别指定两端，也可以是单个统一指定。默认不显示标记，常见的可以设置为箭头，如下：edgeSymbol: ['circle', 'arrow']
                    edgeSymbolSize: 10,//边两端的标记大小，可以是一个数组分别指定两端，也可以是单个统一指定。
                    draggable: true,
                    symbolSize: 30,
                    // links: this.graph.links,
                    // categories: this.graph.categories,
                    roam: true,
                    label: {
                        show: true,
                        position: 'right',//节点上的标签显示在右面
                        formatter: function (e){

                            return e.data.className;
                        },
                        fontSize: "16"
                    },
                    lineStyle: {
                        color: '#ff893c',
                        curveness: 0.1,
                        width: 3,
                    },
                    emphasis: {
                        focus: 'adjacency',
                        itemStyle: {
                            color: "#fc9a19"
                        },
                        lineStyle: {
                            width: 20,
                            color: "#a9ff70"
                        },
                    }
                }],
            },
            myChart: {},
            graph: {
                nodes: [],
                links: []
            },
            allEnumData:[],
            enumData:{
                data:[],
                name:"",
                index:0,
                enabled:false,
            },
            type: ""
        },
        mounted() {
            this.myChart = echarts.init(document.querySelector("#myChart"));
            this.myChart.setOption(this.option);

            this.getNodes();
            this.getEdges();

            //注册监听事件
            window.onresize = this.myChart.resize;
            this.myChart.on('dblclick', (params) => {
                if(params.dataType === "node"){
                    this.getNodeById(params.data.id);
                    $("#nodeModal").modal();
                }
                else {
                    this.getEdgeById(params.data.id)
                    $("#edgeModal").modal();
                }
                this.type = params.dataType
            });
        },
        methods: {
            getNodes() {
                axios.get("/classInfo").then((res) => {
                    this.graph.nodes = res.data.data;
                    this.option.series[0].data = this.graph.nodes;
                    this.myChart.setOption(this.option);
                });
            },
            getNodeById(id){
                axios.get("/classInfo/"+id).then((res) => {
                    this.nodeData = res.data.data;
                    delete this.allEnumData;
                    this.allEnumData = [];
                    //为所有enum赋值
                    for (var i = 0; i < this.nodeData.fieldsName.length; i++){
                        this.addEnumData(this.nodeData);
                    }
                });
            },
            getEdgeById(id){
                axios.get("/relationInfo/"+id).then((res) => {
                    this.edgeData = res.data.data;
                    delete this.allEnumData;
                    this.allEnumData = [];
                    //为所有enum赋值
                    for (var i = 0; i < this.edgeData.fieldsName.length; i++){
                        this.addEnumData(this.edgeData);
                    }
                });
            },
            addEnumData(data) {
                let length = this.allEnumData.length;
                this.allEnumData[length] = [];
                this.allEnumData[length].name = data.fieldsName[length];
                this.allEnumData[length].index = length;
                if (data.fieldsValues[length].indexOf("||") > 0 || data.fieldsValues[length] !== ""){
                    this.allEnumData[length].data = data.fieldsValues[length].split("||");
                    this.allEnumData[length].enabled = true;
                }
                else{
                    this.allEnumData[length].data = []
                    this.allEnumData[length].enabled = false;
                }
            },
            getEdges() {
                axios.get("/relationInfo").then((res) => {
                    res.data.data.forEach(e=>{
                        e.target += ""
                        e.source += ""
                        e.label = {
                            show: true,
                            formatter: function (e){
                                if (e.data.relationName)
                                    return e.data.relationName;
                                else
                                    return ""
                            }
                        }
                    })
                    this.graph.links = res.data.data;
                    this.option.series[0].links = this.graph.links;

                    this.myChart.setOption(this.option);
                });
            },
            //新增类型时 添加新的属性
            addAttributeForAdd(){
                this.addFormData.fieldsName.push("");
                this.addFormData.fieldsValues.push("");
            },
            //新增关系类型时 添加新的属性
            addAttributeForAddEdge(){
                this.addEdgeData.fieldsName.push("");
                this.addEdgeData.fieldsValues.push("");
            },
            //新增类型时 删除属性
            deleteAttributeForAdd(index){
                this.addFormData.fieldsName.splice(index,1);
                this.addFormData.fieldsValues.splice(index,1);
            },
            //新增关系类型时 删除属性
            deleteAttributeForAddEdge(index){
                this.addEdgeData.fieldsName.splice(index,1);
                this.addEdgeData.fieldsValues.splice(index,1);
            },
            //保存
            saveForAdd(){
                //保存
                axios.post("/classInfo",this.addFormData).then((res) => {
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                }).catch(()=>{
                    this.$message.error("网络异常");
                }).finally(this.getNodes);

                //清空数据
                this.addFormData = {
                    fieldsName:[],
                    className:"",
                    fieldsValues:[]
                }
                //重新加载菜单栏
                $("#sideBar").load("sideBar.html");
            },
            //保存
            saveForAddEdge(){
                axios.post("/relationInfo",this.addEdgeData).then((res) => {
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                }).catch(()=>{
                    this.$message.error("网络异常");
                }).finally(this.getEdges);

                //清空数据
                this.addEdgeData = {
                    fieldsName:[],
                    className:"",
                    fieldsValues:[],
                    source: 0,
                    target: 0,
                }
            },
            // 删除已有的节点
            deleteNode(){
                axios.delete("/classInfo",{data:this.nodeData}).then((res) => {
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                }).catch(()=>{
                    this.$message.error("网络异常");
                }).finally(this.getNodes);

                $("#sideBar").load("sideBar.html");
            },
            // 删除已有的关系
            deleteEdge(){
                axios.delete("/relationInfo",{data:this.edgeData}).then((res) => {
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                }).catch(()=>{
                    this.$message.error("网络异常");
                }).finally(this.getEdges);

            },

            //更新时 添加新的属性
            addAttributeForUpdate(){
                this.nodeData.fieldsName.push("");
                this.nodeData.fieldsValues.push("");

                this.addEnumData(this.nodeData);
            },
            addAttributeForUpdateForEdge(){
                this.edgeData.fieldsName.push("");
                this.edgeData.fieldsValues.push("");

                this.addEnumData(this.edgeData);
            },
            //更新时 删除新的属性
            deleteAttributeForUpdate(index){
                this.nodeData.fieldsName.splice(index,1);
                this.nodeData.fieldsValues.splice(index,1);

                this.allEnumData.splice(index,1);
            },
            deleteAttributeForUpdateForEdge(index){
                this.edgeData.fieldsName.splice(index,1);
                this.edgeData.fieldsValues.splice(index,1);

                this.allEnumData.splice(index,1);
            },
            //点击配置属性
            modifyEnum(index) {
                this.enumData = {};
                this.enumData.data = []
                this.enumData.name = this.allEnumData[index].name;
                for(var i = 0; i < this.allEnumData[index].data.length;i++){
                    this.enumData.data[i] = this.allEnumData[index].data[i];
                }
                this.enumData.index = this.allEnumData[index].index;
                this.enumData.enabled = this.allEnumData[index].enabled;
            },
            //更新时 添加新的枚举值
            addEnumForUpdate(){
                this.enumData.data.push("");
                this.$forceUpdate();
            },
            //更新时 删除新的枚举值
            deleteEnumForUpdate(index){
                this.enumData.data.splice(index,1);
                this.$forceUpdate();
            },
            clickCheckBox(){
                if( !$("#checkBox").prop("checked")){
                    $('#enumTipModal').modal();
                }
                else {
                    this.enableCom();
                }
            },
            enableCom(){
                for(var i = 0; i < this.enumData.data.length;i++){
                    $("#enumText"+i).removeAttr("disabled")
                    $("#enumBtn"+i).removeAttr("disabled")
                }
                $("#addEnumBtn").removeAttr("disabled")
            },
            disableCom(){
                for(var i = 0; i < this.enumData.data.length;i++){
                    $("#enumText"+i).attr("disabled","")
                    $("#enumBtn"+i).attr("disabled","")
                }
                $("#addEnumBtn").attr("disabled","")
            },

            //保存配置的枚举值
            saveEnum(index){
                this.allEnumData[index] = this.enumData;
                if (this.type === "node")
                    this.nodeData.fieldsName[index] = this.enumData.name
                else
                    this.edgeData.fieldsName[index] = this.enumData.name

                this.$forceUpdate()
            },
            //更新已有的节点
            updateNode(){
                let length = this.allEnumData.length;
                for (var i = 0; i < length;i++){
                    this.nodeData.fieldsName[i] = this.allEnumData[i].name;
                    //长度大于0 且 启用枚举值
                    if (this.allEnumData[i].data.length > 0 && this.allEnumData[i].enabled){
                        var str = this.allEnumData[i].data[0];
                        for (var j = 1; j < this.allEnumData[i].data.length ; j++){
                            str += "||";
                            str += this.allEnumData[i].data[j];
                        }
                        this.nodeData.fieldsValues[i] = str;
                    }
                    else{
                        this.nodeData.fieldsValues[i] = "";
                    }
                }
                axios.put("/classInfo",this.nodeData).then((res) => {
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                }).catch(()=>{
                    this.$message.error("网络异常");
                }).finally(this.getNodes);

            },
            updateEdge(){
                let length = this.allEnumData.length;
                for (var i = 0; i < length;i++){
                    this.edgeData.fieldsName[i] = this.allEnumData[i].name;
                    //长度大于0 且 启用枚举值
                    if (this.allEnumData[i].data.length > 0 && this.allEnumData[i].enabled){
                        var str = this.allEnumData[i].data[0];
                        for (var j = 1; j < this.allEnumData[i].data.length ; j++){
                            str += "||";
                            str += this.allEnumData[i].data[j];
                        }
                        this.edgeData.fieldsValues[i] = str;
                    }
                    else{
                        this.edgeData.fieldsValues[i] = "";
                    }
                }
                axios.put("/relationInfo",this.edgeData).then((res) => {
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                    }
                    else {
                        this.$message.error(res.data.message);
                    }
                }).catch(()=>{
                    this.$message.error("网络异常");
                }).finally(this.getEdges);

            }
        }
    })
</script>