<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>注册</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="css/css.css"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="plugins/elementui/index.css">

    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">

<!--    <link rel="stylesheet" href="css/style.css">-->

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">注册账号</h1>
                            </div>
                            <div id="app">
                            <form class="user">
                                <div class="form-group">
                                    <input type="text" v-model="user.username" class="form-control form-control-user" id="username"
                                           name="username" v-on:keyup="checkUsername"
                                           placeholder="用户名，8-20位单词字符">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" v-model="user.password" class="form-control form-control-user" @keyup="checkPassword"
                                            id="password" name="password" placeholder="密码，8-20位单词字符">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" @keyup="checkConfirmPassword"
                                            id="confirmPassword" placeholder="确认密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" v-model="user.email"  class="form-control form-control-user" id="email"
                                           name="email" @keyup="checkEmail" @keyup.enter="onSubmit"
                                           placeholder="邮箱">
                                </div>
                                <div class="form-group">
                                    <input type="text" v-model="user.name" class="form-control form-control-user" id="name"
                                           name="name" @keyup="checkName" @keyup.enter="onSubmit"
                                           placeholder="昵称">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <div class="text-center">
                                            <input type="button" id="submit" class="btn btn-primary btn-block" @click="onSubmit" value="注册"/>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="text-center">
                                            <a  href="login.html" class="btn btn-success btn-block">
                                                已有账号？登录!
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a class="btn btn-block" href="back-resources/forgot-password.html">忘记密码?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script src="js/vue.min.js"></script>

    <script src="plugins/elementui/index.js"></script>

    <script src="js/axios-0.18.0.js"></script>


    <script>
        var vue = new Vue({
            el:"#app",
            data:{
                user:{
                    username:"",
                    password:"",
                    name:"",
                    email:"",
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                //当某个组件失去焦点后，同样调用校验方法
            },

            methods: {
                onSubmit() {
                    if (!this.checkUsername()) {
                        alert("您的用户名格式不正确，请输入8-20个单词字符！");
                        return;
                    }
                    if (!this.checkPassword()) {
                        alert("您的密码格式不正确，请输入8-20个单词字符！");
                        return;
                    }
                    if (!this.checkConfirmPassword()) {
                        alert("两次密码输入不一致");
                        return;
                    }
                    if (!this.checkEmail()) {
                        alert("您的邮箱格式不正确，请重新输入！");
                        return;
                    }
                    if (!this.checkName()) {
                        alert("您的名字为空，请重新输入！");
                        return;
                    }

                    axios.post("/users/register",this.user).then((res)=>{
                        if (res.data.flag) {
                            this.$message.success(res.data.message);

                            this.btn_clicked('#submit');
                            setTimeout(()=>{
                                window.location.href="login.html"
                            },3000)
                        } else {
                            this.$message.error(res.data.message);
                        }
                    }).catch(()=>{
                        this.$message.error("网络异常，请联系管理员");
                    });
                },
                //列表
                checkUsername(){
                    //1.获取用户名
                    var username = $("#username").val();
                    //2.正则定义--(8-20位单词字符)
                    var reg_username=/^\w{8,20}$/;
                    //3.判断，并给出相应的提示信息
                    var flag=reg_username.test(username);
                    if(flag){
                        //合法提示：边框变绿
                        $("#username").css("border","1px solid green");
                    }else{
                        //非法提示：边框变红
                        $("#username").css("border","1px solid red");
                    }
                    return flag;
                },
                //密码格式的检验
                checkPassword(){
                    //1.获取密码
                    var password = $("#password").val();
                    //2.正则定义--(8-20位单词字符)
                    var reg_password=/^\w{8,20}$/;
                    //3.判断，并给出相应的提示信息
                    var flag=reg_password.test(password);
                    if(flag){
                        //合法提示：边框变绿
                        $("#password").css("border","1px solid green");
                    }else{
                        //非法提示：边框变红
                        $("#password").css("border","1px solid red");
                    }
                    return flag;
                },
                checkConfirmPassword() {
                    //1.获取密码
                    var password = $("#confirmPassword").val();
                    var flag= (password==$("#password").val()) && password!="";
                    if(flag){
                        //合法提示：边框变绿
                        $("#confirmPassword").css("border","1px solid green");
                    }else{
                        //非法提示：边框变红
                        $("#confirmPassword").css("border","1px solid red");
                    }
                    return flag;
                },
                checkEmail(){
                    //1.获取邮箱
                    var email = $("#email").val();
                    //2.正则定义--(包含 @ . )
                    var reg_email=/^\w+@\w+\.\w+$/;
                    //3.判断，并给出相应的提示信息
                    var flag=reg_email.test(email);
                    if(flag){
                        //合法提示：边框变绿
                        $("#email").css("border","1px solid green");
                    }else{
                        //非法提示：边框变红
                        $("#email").css("border","1px solid red");
                    }
                    return flag;
                },
                checkName(){
                    var name=$("#name").val();
                    var flag=(name!=""&&name.length<=20);//非空判断
                    if(flag){
                        //合法提示：边框变绿
                        $("#name").css("border","1px solid green");
                    }else{
                        //非法提示：边框变红
                        $("#name").css("border","1px solid red");
                    }
                    return flag;
                },
                btn_clicked(id){
                    var b = $(id);
                    b.addClass("disabled");
                    b.attr("disabled","");
                    var text = b.val();
                    b.val("Loading....");

                    setTimeout(()=>{
                        b.removeClass("disabled");
                        b.removeAttr("disabled")
                        b.val(text);
                    },3000)
                }
            }
        })


    </script>
</body>

</html>