
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-gradient-primary topbar mb-4 static-top shadow" id="top"
     xmlns:v-model="http://www.w3.org/1999/xhtml">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->
<!--    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for Service..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-info" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>-->

    <a class="nav-link" href="">
        <b class="sidebar-brand-text mx-3 mr-2 d-none d-lg-inline text-gray-100 -align-left" style="font-size: 25px">电梯故障知识图谱管理系统</b>
      </a>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown no-arrow">
      <span class="nav-link dropdown-toggle">
        <span class="mr-2 d-none d-lg-inline text-gray-100  middle" >欢迎您，{{role}}</span>
      </span>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>


        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-100 small">{{user.name}}</span>
                <img class="img-profile rounded-circle"
                     src="img/undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" @click="getUser(),resetContent()" data-toggle="modal" data-target="#profileModal">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    个人资料
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    退出系统
                </a>
            </div>
        </li>
    </ul>

    <!-- Modal -->
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">个人资料</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                        <div class="row container-fluid">
                            <div class="col-lg-10">
                                    <div class="form-group">
                                        <label for="update_username" class="control-label" >用户名:</label>
                                        <input type="text" class="form-control" id="update_username" v-model="formData.username" disabled/>
                                    </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="update_confirmPassword" class="control-label"> &nbsp;</label>
                                    <button class="btn btn-primary" type="button" id="btn_modify1" disabled>Modify</button>
                                </div>
                            </div>
                        </div>

                        <div class="row container-fluid">
                            <div class="col-lg-5">
                                <div class="input-group">
                                    <div class="form-group">
                                        <label for="update_password" class="control-label">密码:</label>
                                        <input type="password" class="form-control" id="update_password" v-model="formData.password"
                                               @keyup="checkPassword(),checkConfirmPassword()" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="input-group">
                                    <div class="form-group">
                                    <label for="update_confirmPassword" class="control-label">确认密码:</label>
                                    <input type="password" class="form-control" id="update_confirmPassword"
                                           @keyup="checkConfirmPassword" disabled>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label for="update_confirmPassword" class="control-label"> &nbsp;</label>
                                        <button class="btn btn-primary" type="button" id="btn_modify2" @click="clickFunction($event)">Modify</button>
                                </div>
                            </div>
                        </div>

                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="update_name" class="control-label">昵称:</label>
                                <input type="text" class="form-control" id="update_name" v-model="formData.name"
                                       @keyup="checkName" disabled>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="update_confirmPassword" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button" id="btn_modify3" @click="clickFunction($event)">Modify</button>
                            </div>
                        </div>
                    </div>

                    <div class="row container-fluid">
                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="update_email" class="control-label">邮箱</label>
                                <input type="email" class="form-control" id="update_email" v-model="formData.email" disabled>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="update_confirmPassword" class="control-label"> &nbsp;</label>
                                <button class="btn btn-primary" type="button" id="btn_modify4" disabled>Modify</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">是否退出?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">请问您确定要退出吗？</div>
                <div class="modal-footer">
                    <div class="container-fluid row">
                        <div class="col-6">
                            <button class="btn btn-secondary btn-block" type="button" data-dismiss="modal">取消</button>
                        </div>
                        <div class="col-6">
                            <a class="btn btn-primary btn-block" href="javascript:void(0)" @click="logout(),btn_clicked($event)">登出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</nav>
<!-- End of Topbar -->

<script>
    var vue2 = new Vue({
        el: "#top",
        data: {
            user: {
                id: "",
                username: "",
                password:"",
                role: "",
                name: "",
                email:"",
                lastLogin:""
            },
            role:"",
            formData:{

            }
        },
        created() {
            axios.get("users/getUser").then((res) => {
                if (res.data.flag) {
                    this.user = res.data.data;
                    this.name = res.data.data.username;
                    this.role = res.data.data.role === "user" ? "普通用户" : "管理员";
                } else {
                    //未登录
                    this.$message.error(res.data.message)
                    setTimeout(() => {
                        window.location.href = "login.html"
                    }, 2000)
                }
            }).catch(() => {
                this.$message.error("网络异常")
            });
        },
        methods: {
            logout() {
                axios.post("users/logout").then((res) => {

                    if (res.data.flag) {
                        //成功退出
                        this.$message.success(res.data.message);
                        setTimeout(() => {
                            window.location.href = "login.html"
                        }, 3000);
                    }
                }).catch(() => {
                    this.$message.error("网络异常")
                })
            },
            resetContent(){
                $("#update_confirmPassword").val("");
                $("#btn_modify2").text("Modify");
                $("#btn_modify3").text("Modify");
                $("#btn_modify3").removeAttr("disabled");
                $("#btn_modify2").removeAttr("disabled");
                $("#update_confirmPassword").attr("disabled","");
                $("#update_password").attr("disabled","");
                $("#update_name").attr("disabled","");

            },
            clickFunction(e){
                if(e.target.id === "btn_modify2"){
                    if(e.target.innerText === "Modify"){
                        $("#btn_modify3").attr("disabled","");
                        e.target.innerText = "Save";
                        $("#update_password").removeAttr("disabled")
                        $("#update_confirmPassword").removeAttr("disabled")
                    }
                    else{
                        if(!this.checkPassword() || !this.checkConfirmPassword()){
                            return;
                        }

                        axios.post("users/update",this.formData).then((res)=>{
                            if(res.data.flag){
                                this.$message.success(res.data.message);
                                e.target.innerText = "Modify";
                                $("#update_confirmPassword").attr("disabled","");
                                $("#update_password").attr("disabled","");
                                $("#btn_modify3").removeAttr("disabled");
                                this.user.password = this.formData.password;
                            }
                            else{
                                this.$message.error(res.data.message);
                            }
                        }).catch(()=>{
                            this.$message.error("网络异常");
                        });
                    }
                }
                if(e.target.id === "btn_modify3"){
                    if(e.target.innerText === "Modify"){
                        $("#btn_modify2").attr("disabled","");
                        e.target.innerText = "Save";
                        $("#update_name").removeAttr("disabled")
                    }
                    else{
                        if(!this.checkName()){
                            return;
                        }
                        axios.post("users/update",this.formData).then((res)=>{
                            if(res.data.flag){
                                this.$message.success(res.data.message);
                                e.target.innerText = "Modify";
                                $("#update_name").attr("disabled","");
                                $("#btn_modify2").removeAttr("disabled");
                                this.user.name = this.formData.name;
                            }
                            else{
                                this.$message.error(res.data.message);
                            }
                        }).catch(()=>{
                            this.$message.error("网络异常");
                        });
                    }
                }
            },
            checkConfirmPassword() {
                //1.获取密码
                var password = $("#update_confirmPassword").val();
                var flag= (password==$("#update_password").val()) && password!="";
                if(flag){
                    //合法提示：边框变绿
                    $("#update_confirmPassword").css("border","1px solid green");
                }else{
                    //非法提示：边框变红
                    $("#update_confirmPassword").css("border","1px solid red");
                }
                return flag;
            },
            checkPassword(){
                //1.获取密码
                var password = $("#update_password").val();
                //2.正则定义--(8-20位单词字符)
                var reg_password=/^\w{8,20}$/;
                //3.判断，并给出相应的提示信息
                var flag=reg_password.test(password);
                if(flag){
                    //合法提示：边框变绿
                    $("#update_password").css("border","1px solid green");
                }else{
                    //非法提示：边框变红
                    $("#update_password").css("border","1px solid red");
                }
                return flag;
            },
            checkName(){
                var name=$("#update_name").val();
                var flag=(name!=""&&name.length <= 20);//非空判断
                if(flag){
                    //合法提示：边框变绿
                    $("#update_name").css("border","1px solid green");
                }else{
                    //非法提示：边框变红
                    $("#update_name").css("border","1px solid red");
                }
                return flag;
            },
            getUser(){
                axios.get("users/getUser").then((res) => {
                    if (res.data.flag) {
                        this.formData=res.data.data;
                    } else {
                        //未登录
                        this.$message.error(res.data.message)
                        setTimeout(() => {
                            window.location.href = "login.html"
                        }, 2000)
                    }
                }).catch(() => {
                    this.$message.error("网络异常,请重新登录")
                    setTimeout(() => {
                        window.location.href = "login.html"
                    }, 2000)
                });
            },
            btn_clicked(e){
                console.log(e)
                var b = $(e.target);
                b.addClass("disabled");
                b.attr("disabled","")
                var text = b.text();
                b.text("Loading....");

                setTimeout(()=>{
                    b.removeClass("disabled");
                    b.removeAttr("disabled")
                    b.text(text);
                },3000)
            }
        }
    });

</script>